<?xml version="1.0" encoding="utf-8" ?>
<!-- 設定internalLogFile可以得知NLog的內部錯誤，在初始設定時很有幫助 -->
<!-- 設定throwExceptions寫入錯誤時程式拋出例外 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="${CurrentDir}/Logs/internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!--[變數] 文字樣板 -->
	<variable name="infoLayout" value="【${longdate}】【${aspnet-mvc-controller}】【${aspnet-mvc-action}】【${message}】【${local-ip}】【${machinename}】"/>
	<variable name="errorLayout" value="【${longdate}】【${aspnet-mvc-controller}】【${aspnet-mvc-action}】【${message}】【${exception}】【${local-ip}】【${machinename}】"/>
	
	<variable name="infoPath" value="${CurrentDir}/Logs/${logger:shortName=true}/【Info】${shortdate}.txt"/>
	<variable name="errorPath" value="${CurrentDir}/Logs/${logger:shortName=true}/【Error】${shortdate}.txt"/>
	
	<targets>
		<target name="info"
				xsi:type="File"
				fileName="${infoPath}"
				layout="${infoLayout}"/>

		<target name="error"
				xsi:type="File"
				fileName="${errorPath}"
				layout="${errorLayout}"/>

		<target name="fatal"
				xsi:type="File"
				fileName="${errorPath}"
				layout="${errorLayout}"/>
	
		<target name="mssql"
				xsi:type="Database"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
			<connectionString>${var:connectionString}</connectionString>
			<commandText>
				INSERT INTO OperateLog VALUES(@LogPath, @LogLevel, @ControllerName , @ActionName , @LogDatetime , @Message , @Exception, @UserName, @UserIP, @UserMachine);
			</commandText>
			<parameter name="@LogPath" layout="${logger:shortName=true}"/>
			<parameter name="@LogLevel" layout="${level}"/>
			<parameter name="@ControllerName" layout="${aspnet-mvc-controller}"/>
			<parameter name="@ActionName" layout="${aspnet-mvc-action}"/>
			<parameter name="@LogDatetime" layout="${date}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Exception" layout="${exception}"/>
			<parameter name="@UserName" layout="${event-properties:item=userName}"/>
			<parameter name="@UserIP" layout="${local-ip}"/>
			<parameter name="@UserMachine" layout="${machinename}"/>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace"  final="true"/>
		<logger name="info" levels="Trace,Debug,Info" writeTo="info,mssql"/>
		<logger name="*" levels="Warn,Error" writeTo="error,mssql"/>
		<logger name="*" level="Fatal" writeTo="fatal,mssql"/>
	</rules>
</nlog>